$imgWidth: 50px;

.skill {
  display: inline-block;
  margin: 10px;
  text-align: center;
  transition: all .3s ease;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  >img{
    width: $imgWidth;
    height: $imgWidth;
  }
  >b{
    line-height: $imgWidth;
    display: block;
  }
}