.about-me {
  >.section-info{
    // background: url(./header-min.jpg);
    background-position: center;
    background-size: cover;
    // height: 300px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    >.avatar{
      width: 200px;
      height: 200px;
      background-color: white;
      border-radius: 50%;
      box-shadow: #d0cfcf 0 0 15px 5px;
      background: url(./header-min.jpg);
      background-position: center;
      background-size: cover;
      border: solid 5px white;
    }
    >.info {
      >.title{
        margin: 0 20px;
        >b{
          font-size: 46px;
          color: white;
          text-transform: uppercase;
          display: block
        }
        >span{
          text-align: center;
          display: block;
          font-style: italic;
          font-weight: bold;
        }
        >div {
          text-align: center;
          >span {
          }
        }
      }
      >.contacts{}
    }
  }
  >.section-skills{
    >div {
      text-align: center;
      >b {
        display: block;
        margin: 20px 0;
        text-transform: uppercase;
        background-color: white;
        padding: 10px;
        box-shadow: #ccc8c885 0 0 20px;
      }
    }
  }
}